html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em
0;
    padding: 0;
}
input, select {
    vertical-align: middle;
    border: 0;
}
textarea {
    border: 0;
}
*:focus, *:active {
    outline: none;
}
*::-moz-focus-inner {
    border: 0;
}
html, body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    width: 100%}
strong {
    font-weight: normal;
    font-style: normal;
}
a, a:hover {
    text-decoration: none;
}
.webkitNativeAppStyle {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}
.webkit-native-scrolling {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}
.webkit-backface-visibility {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}
.notSelectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
::selection {
    background: #21878d;
    color: white;
}
::-moz-selection {
    background: #21878d;
    color: white;
}
::-webkit-selection {
    background: #21878d;
    color: white;
}
.clear {
    clear: both;
    width: 0 !important;
    height: 0 !important;
}
html, body {
    background: black;
    color: #83807a;
    font: 14px/1 'Museo';
    overflow-x: hidden;
}
strong {
    font: 14px/1 'MuseoBold'}
hr {
    width: 100%;
    display: block;
    margin: 0
auto;
    border-top: 1px solid black;
    background: white;
}
body>section {
    position: relative;
    padding: 63px
10px;
    margin: 0
auto;
    width: 990px;
    border-bottom: 3px solid #91d1da;
}
body>section>header>h2 {
    font: 48px/1 "Museo";
    color: #e1dace;
    text-transform: uppercase;
    letter-spacing: -1px;
    overflow: hidden;
}
body>section>header>h3 {
    font: 18px/1 "Museo";
    color: #354b4e;
    text-transform: uppercase;
    overflow: hidden;
}
body>section>header>h2>span, body>section>header>h3>span {
    display: block;
}
body>section>header>hr {
    margin: 22px
0 64px 0;
    border-top: 4px solid #202020;
    background: #202020;
}
body>section>header>p {
    display: block;
    margin: 3px
16px 0 0;
    width: 63px;
    height: 63px;
    border-radius: 63px;
    background: #354b4e;
    float: left;
}
body>section>header>p>span {
    width: 100%;
    height: 100%;
    display: block;
}
#menu {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -495px;
    width: 990px;
    height: 47px;
    z-index: 99;
}
#menu>* {
    position: absolute;
    height: 100%;
    background: black;
    border-bottom: 3px solid #91d1da;
}
#menu
#menuButtons {
    width: 898px;
}
#menu #menuButtons>a {
    display: block;
    float: left;
    position: relative;
    margin: 18px
0 0 32px;
    height: 12px;
    color: #d2cbc0;
    font: 12px/1 "Museo"}
#menu #menuButtons>div {
    position: absolute;
    top: 18px;
    right: 5px;
    width: 100px;
    height: 12px;
    overflow: hidden;
}
#menu #menuButtons > div
#menuBackToTop {
    display: block;
    padding-left: 23px;
    font: 12px/1 "Museo";
    background: transparent url('/images/menu.backtotop.png') no-repeat scroll 0% 0%;
    color: #d2cbc0;
}
#menu #menuFacebook,  #menu
#menuTwitter {
    width: 44px;
    overflow: hidden;
}
#menu #menuFacebook > div,  #menu #menuTwitter>div {
    height: 200%}
#menu #menuFacebook > div > a,  #menu #menuTwitter>div>a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%}
#menu #menuFacebook > div > a > p,  #menu #menuTwitter>div>a>p {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%}
#menu
#menuFacebook {
    right: 46px;
}
#menu #menuFacebook>div>a {
    background: transparent url('/images/menu.facebook.normal.png') no-repeat scroll center 14px;
}
#menu #menuFacebook>div>a>p {
    background: #91d1da url('/images/menu.facebook.hover.png') no-repeat scroll center center;
}
#menu
#menuTwitter {
    right: 0;
}
#menu #menuTwitter>div>a {
    background: transparent url('/images/menu.twitter.normal.png') no-repeat scroll center 14px;
}
#menu #menuTwitter>div>a>p {
    background: #91d1da url('/images/menu.twitter.hover.png') no-repeat scroll center center;
}
#header {
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -763px;
    width: 1526px;
    height: 779px;
    border-bottom: 3px solid #91d1da;
    overflow: hidden;
}
#header
#headerBollonzo {
    position: absolute;
    top: 191px;
    left: 50%;
    margin-left: -436px;
    width: 376px;
    height: 376px;
    background: black;
    border-radius: 376px;
    text-align: center;
    z-index: 11;
}
#header #headerBollonzo>* {
    position: absolute;
    width: 100%}
#header #headerBollonzo>span {
    left: 50%;
    margin-left: -4px;
    display: block;
    width: 8px;
    height: 8px;
    background: #e1dace;
    border-radius: 8px;
}
#header #headerBollonzo>span.top {
    top: 20px;
}
#header #headerBollonzo>span.bottom {
    bottom: 20px;
}
#header #headerBollonzo>hr {
    display: block;
    width: 239px;
    height: 10px;
    width: 100% !important;
    border: 0;
}
#header #headerBollonzo>hr.top {
    top: 91px;
    background: transparent url('/images/header.ornament.top.png') no-repeat scroll center center;
}
#header #headerBollonzo>hr.bottom {
    top: 232px;
    background: transparent url('/images/header.ornament.bottom.png') no-repeat scroll center center;
}
#header #headerBollonzo>h1 {
    top: 118px;
    font: 60px/.8 "Otto";
    color: #b5b0a5;
    letter-spacing: -1px;
    padding-top: 3px;
}
#header #headerBollonzo>h2 {
    top: 50px;
    font: 14px/1 "Museo";
    color: #e1dace;
}
#header #headerBollonzo>h2>strong {
    display: block;
    font: 14px/1 "MuseoBold";
    color: #74a7ae;
}
#header #headerBollonzo>h3 {
    top: 259px;
    font: 14px/1 "Museo";
    color: #83807a;
}
#header #headerBollonzo>h4 {
    top: 275px;
    font: 14px/1 "Museo";
    color: #74a7ae;
}
#header #headerBollonzo .fb-like {
    bottom:10px;
    left: 5%;
    margin-left: -76px;
    width: 100px !important;
}
#header #headerBollonzo .g-ytsubscribe {
    bottom: 63px;
    left: 43%;
    margin-left: 45px;
    width: 50px !important;
}
#header
#headerAnna {
    width: 100%;
    height: 100%;
    background: transparent url('http://p1.pichost.me/i/23/1459075.jpg');
}
#header
.tendinaHeader {
    position: absolute;
    top: 0;
    width: 763px;
    height: 779px;
    background: black;
    z-index: 12;
}
#header
#tendinaSx {
    left: 0;
}
#header
#tendinaDx {
    left: 763px;
}
#filmografia {
    position: relative;
    background: black;
}
#filmografia>header>p>span {
    background: transparent url('/images/filmografia.title.icon.png') no-repeat scroll center center;
}
#filmografia>section>section>article {
    border-bottom: 1px solid #202020;
    padding-bottom: 10px;
}
#filmografia>section>section>article>h2 {
    float: left;
}
#filmografia>section>section>article>h2>strong {
    display: block;
    font: 24px/.7 "Museo";
    color: #74a7ae;
    padding-top: 3px;
    font-weight: normal;
    font-style: normal;
}
#filmografia>section>section>article>h2>span {
    font: 13px/1 "Museo";
    color: #354b4e;
}
#filmografia>section>section>article>p {
    float: left;
}
#filmografia>section>section>article>p>strong {
    display: block;
}
#filmografia>section>section>article>p>strong {
    margin-top: 2px;
    font: 18px/1 "Museo";
    color: #e1dace;
}
#filmografia>section>div {
    position: absolute;
    width: 407px;
    height: 407px;
    border-radius: 407px;
    border: 6px
solid rgba(255, 255, 255, .2);
}
#filmBollo1 {
    top: 60px;
    right: -63px;
    background: transparent url('http://thumbs.dreamstime.com/z/seo-web-design-concept-silver-website-security-digital-background-d-render-34255377.jpg') no-repeat scroll center center;
    z-index: 11;
}
#filmBollo2 {
    top: 534px;
    left: -88px;
    background: transparent url('http://farm8.staticflickr.com/7447/12749598945_9beecc202c_o.jpg') no-repeat scroll center center;
    z-index: 12;
}
#filmografia
#first {
    margin-bottom: 89px;
}
#filmografia
#first2010 {
    margin-bottom: 64px;
}
#filmografia #first2010 > h2,  #filmografia #first2010 > p,  #filmografia #first2009 > h2,  #filmografia #first2009>p {
    width: 167px;
    padding-right: 35px;
}
#filmografia #first2009>h2 {
    margin-bottom: 42px;
}
#filmografia
#second {
    margin: 0
0 96px 377px;
    width: 612px;
}
#filmografia #second2011,  #filmografia
#second2010 {
    margin-bottom: 80px;
}
#filmografia #second2011 > h2,  #filmografia #second2010 > h2,  #filmografia #second2009>h2 {
    width: 130px;
}
#filmografia #second2011 > p,  #filmografia #second2010 > p,  #filmografia #second2009>p {
    width: 239px;
}
#filmografia #second2009>h2 {
    margin-bottom: 32px;
}
#filmografia #third
h2 {
    width: 242px;
}
#filmografia #third2007,  #filmografia #third2004,  #filmografia
#third2002 {
    margin-bottom: 78px;
}
#filmografia #third2007,  #filmografia
#third2004 {
    float: left;
}
#filmografia
#third2007 {
    width: 48%;
    margin-right: 2%}
#filmografia
#third2004 {
    width: 50%}
#filmografia #third2004>h2>strong {
    padding-top: 0;
    margin-top: 11px;
    font-size: 14px;
}
#filmografia #third2002>p {
    width: 249px;
}
#biografia {
    position: relative;
}
#biografia>header>p>span {
    background: transparent url('/images/biografia.title.icon.png') no-repeat scroll center center;
}
#biografia>header>h4, #biografia>header>h5 {
    position: absolute;
    right: 10px;
    text-align: right;
    font: 14px/1.2 "Museo";
    width: 422px;
}
#biografia>header>h4 {
    top: 68px;
    color: #83807a;
}
#biografia>header>h4>strong {
    color: #d2cbc0;
}
#biografia>header>h5 {
    top: 113px;
    color: #8ccad3;
}
#biografia>section>section {
    position: relative;
    margin-bottom: 32px;
    width: 50%}
#biografia>section>section>header {
    font: 24px/1 "Museo";
    color: #74a7ae;
}
#biografia>section>section>article>p {
    font: 14px/1.7 "Museo";
    padding-bottom: 34px;
}
#biografia>section>section>article>p>strong {
    font: 14px/1.7 "MuseoBold";
    color: #d2cbc0;
}
#biografia>section>section>hr {
    margin: 17px
0;
    border-top: 0 solid #202020;
    background: #202020;
}
#biografia>section>section>div {
    position: absolute;
    border: 6px
solid rgba(255,  255,  255,  .2);
}
#biografia #firstBio
#firstBollo1 {
    top: 0;
    left: 517px;
    width: 320px;
    height: 320px;
    border-radius: 320px;
    background: transparent url('https://farm4.staticflickr.com/3713/13255683933_0d4bf44169_o.jpg') no-repeat scroll center center;
    z-index: 11;
}
#biografia #firstBio
#firstBollo2 {
    top: 167px;
    left: 751px;
    width: 207px;
    height: 207px;
    border-radius: 207px;
    background: transparent url('https://farm3.staticflickr.com/2866/13255882643_338e2b68c6_o.jpg') no-repeat scroll center center;
    z-index: 12;
}
#biografia #firstBio
#firstBollo3 {
    top: 217px;
    left: 575px;
    width: 153px;
    height: 153px;
    border-radius: 153px;
    background: transparent url('https://farm3.staticflickr.com/2853/13256064293_e8406e0cc5_o.jpg') no-repeat scroll center center;
    z-index: 13;
}
#biografia
#secondBio {
    margin-left: 50%}
#biografia #secondBio
#secondBollo1 {
    top: 0;
    left: -484px;
    width: 427px;
    height: 427px;
    border-radius: 427px;
    background: transparent url('https://farm4.staticflickr.com/3826/13255995435_9ccd972c73_o.jpg') no-repeat scroll center center;
    z-index: 11;
}
#biografia #secondBio
#secondBollo2 {
    top: 306px;
    left: -275px;
    width: 217px;
    height: 217px;
    border-radius: 217px;
    background: transparent url('https://farm8.staticflickr.com/7154/13256583944_f922b728da_o.jpg') no-repeat scroll center center;
    z-index: 12;
}
#biografia
#thirdBio {
    margin-bottom: 0;
}
#biografia #thirdBio
#thirdBollo1 {
    top: 0;
    left: 523px;
    width: 436px;
    height: 436px;
    border-radius: 436px;
    background: transparent url('https://farm8.staticflickr.com/7083/13256440445_4a55dca56e_o.jpg') no-repeat scroll center center;
    z-index: 11;
}
#biografia #thirdBio
#thirdBollo2 {
    top: 320px;
    left: 523px;
    width: 235px;
    height: 235px;
    border-radius: 235px;
    background: transparent url('http://tammyhartdesigns.com/wp-content/uploads/2010/10/iStock_000003045800XSmall.jpg') no-repeat scroll center center;
    z-index: 12;
}
#galleria {
    position: relative;
}
#galleria>header>p>span {
    background: transparent url('/images/galleria.title.icon.png') no-repeat scroll center center;
}
#galleria>section>article {
    border-bottom: 1px solid #202020;
    padding: 47px
0;
}
#galleria #immagini>nav>a {
    overflow: hidden;
    height: 371px;
}
#galleria #immagini>nav>a>header {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -77px 0 0 -77px;
    width: 154px;
    height: 154px;
    border-radius: 154px;
    background: #354b4e;
    z-index: 2;
    opacity: 0;
}
#galleria #immagini>nav>a>header>* {
    display: block;
    position: absolute;
}
#galleria #immagini>nav>a>header>p {
    top: 68px;
    width: 100%;
    text-align: center;
    font: 30px/1 "MuseoBold";
    color: #e1dace;
}
#galleria #immagini>nav>a>header>span {
    top: 48px;
    width: 100%;
    height: 13px;
    background: transparent url('/images/galleria.cover.button.arrow.png') no-repeat scroll center center;
}
#galleria #immagini>nav>a>header>hr {
    top: 118px;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    border-top: 1px solid #7c8683;
    background: transparent;
}
#galleria #immagini>nav>a>header>div {
    top: 126px;
    width: 100%;
    height: 13px;
    background: transparent url('/images/galleria.cover.button.camera.png') no-repeat scroll center center;
}
#galleria #immagini>nav>a>p {
    position: absolute;
    display: block;
    margin-top: -371px;
    width: 100%;
    height: 100%;
    background: black;
    opacity:  .8;
    z-index: 1;
    opacity: 0;
}
#galleria #immagini>nav>a>h3 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font: 12px/1 "Museo";
    color: #666;
    text-align: center;
    z-index: 3;
    opacity: 0;
}
#galleria #immagini>nav>a>h4 {
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -4px;
    display: block;
    width: 8px;
    height: 8px;
    background: #666;
    border-radius: 8px;
    opacity:  .4;
    z-index: 3;
    opacity: 0;
}
#galleria #video>div.videoThumb {
    float: left;
    margin-right: 1px;
    width: 192px;
}
#galleria #video>div>p {
    font: 12px/1.2 "Museo";
    color: #83807a;
    padding-bottom: 18px;
}
#galleria #video>div>a {
    display: block;
    width: 192px;
    height: 192px;
    background: #333;
}
#galleria
#immagini {
    padding-top: 0;
}
#immagini>nav {
    overflow: hidden;
}
#immagini>nav>a {
    position: relative;
    float: left;
    width: 322px;
    margin-right: 1px;
}
#galleriaNavFirst {
    margin-left: 10px;
}
#immagini #galleriaNavFirst>div {
    width: 322px;
    height: 371px;
    background: transparent url('http://farm8.staticflickr.com/7408/12828052295_a1dd0fc35e_o.jpg');
}
#immagini #galleriaNavSecond>div {
    width: 322px;
    height: 371px;
    background: transparent url('http://farm3.staticflickr.com/2810/12750751613_b6e88a04b5_o.jpg');
}
#immagini > nav
#galleriaNavThird {
    margin-right: 0;
}
#immagini > nav #galleriaNavThird>header>p {
    font: 20px/1 "MuseoBold" !important;
}
#immagini #galleriaNavThird>div {
    width: 322px;
    height: 371px;
    background: transparent url('http://farm4.staticflickr.com/3806/12750891724_0ee6d7ef79_o.jpg');
}
#galleria
#video {
    position: relative;
    padding-bottom: 70px;
}
#galleria #video
#videoHosting {
    position: absolute;
    bottom: 20px;
    right: 15px;
    display: block;
    width: 122px;
    height: 26px;
    background: transparent url('/images/galleria.video.youtube.hosting.png');
}
#galleria #video
#video1 {
    margin-left: 10px;
}
#galleria
#wallpaper {
    position: relative;
    height: 439px;
    padding-bottom: 0;
    border-bottom: 0;
}
#galleria #wallpaper>* {
    position: absolute;
}
#galleria #wallpaper
#wallpaperiMac {
    top: 55px;
    left: 36px;
    width: 507px;
    height: 410px;
    background: transparent url('https://farm8.staticflickr.com/7454/12738667584_8cefa0a91d_o.jpg') no-repeat;
    z-index: 1;
}
#galleria #wallpaper
#wallpaperiPad {
    top: 222px;
    left: 380px;
    width: 197px;
    height: 244px;
    background: transparent url('/images/galleria.media.ipad.png') no-repeat;
    z-index: 2;
}
#galleria #wallpaper
#wallpaperiPhone {
    top: 352px;
    left: 353px;
    width: 65px;
    height: 125px;
    background: transparent url('/images/galleria.media.iphone.png') no-repeat;
    z-index: 3;
}
#galleria #wallpaper
#wallpaperBollonzo {
    top: 55px;
    right: 36px;
    width: 425px;
    height: 425px;
    border-radius: 425px;
    background: #354b4e;
    text-align: center;
}
#galleria #wallpaper #wallpaperBollonzo>* {
    display: block;
    position: absolute;
}
#galleria #wallpaper #wallpaperBollonzo>span {
    left: 50%;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    background: #999;
    border-radius: 8px;
}
#galleria #wallpaper #wallpaperBollonzo>span.top {
    top: 15px;
}
#galleria #wallpaper #wallpaperBollonzo>span.bottom {
    bottom: 15px;
}
#galleria #wallpaper #wallpaperBollonzo>h2 {
    top: 45px;
    width: 100%;
    font: 32px/.9 "Otto";
    color: #b5b0a5;
    letter-spacing: -1px;
    text-transform: lowercase;
}
#galleria #wallpaper #wallpaperBollonzo>h3 {
    top: 108px;
    width: 100%;
    font: 40px/1 "MuseoBold";
    color: #e1dace;
    letter-spacing: -1px;
}
#galleria #wallpaper #wallpaperBollonzo>h4 {
    top: 149px;
    width: 100%;
    font: 14px/1 "Museo";
    color: #7c8683;
}
#galleria #wallpaper #wallpaperBollonzo>hr {
    left: 50%;
    margin-left: -35%;
    width: 70%;
    border-top: 1px solid #5b6a6a;
    background: transparent;
}
#galleria #wallpaper #wallpaperBollonzo>hr.top {
    top: 177px;
}
#galleria #wallpaper #wallpaperBollonzo>hr.bottom {
    top: 319px;
}
#galleria #wallpaper #wallpaperBollonzo>a {
    left: 50%;
    margin-left: -80px;
    padding: 8px
0 8px 40px;
    width: 140px;
    font: 12px/1 "Museo";
    color: #b3b4ac;
    text-align: left;
}
#galleria #wallpaper #wallpaperBollonzo
#downloadWidescreen {
    top: 198px;
    background: transparent url('/images/galleria.media.bollonzo.widescreen.png') no-repeat scroll 0 top;
}
#galleria #wallpaper #wallpaperBollonzo
#downloadTablet {
    top: 236px;
    background: transparent url('/images/galleria.media.bollonzo.tablet.png') no-repeat scroll 2px top;
}
#galleria #wallpaper #wallpaperBollonzo
#downloadMobile {
    top: 273px;
    background: transparent url('/images/galleria.media.bollonzo.mobile.png') no-repeat scroll 5px top;
}
#galleria #wallpaper #wallpaperBollonzo
#downloadZip {
    bottom: 40px;
    left: 50%;
    margin-left: -105px;
    padding: 0
0 38px 0;
    width: 210px;
    background: transparent url('/images/galleria.media.bollonzo.zip.png') no-repeat scroll center bottom;
    text-align: center;
}
#chosenGallery {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
}
#galleryOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 0;
}
#slideGalleryContainer {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -250px;
    width: 100%;
    height: 500px;
    z-index: 1;
    overflow: hidden;
}
#slideGallery {
    position: absolute;
    width: 0;
    height: 100%}
#slideGallery>div {
    float: left;
    margin-right: 1px;
    height: 100%;
    background: #191919;
}
#slideGallery>div>img, #slideGallery>div>canvas {
    position: absolute;
    z-index: 1;
}
#closeGallery {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -287px 0 0 406px;
    display: block;
    font: 30px/1 "Museo";
    color: white;
    z-index: 99;
}
#closeGallery:hover {
    color: #354b4e;
}
#scrollBar {
    position: absolute;
    width: 100%;
    height: 20px;
    z-index: 1;
}
#scrollBar
#scrollBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity:  .3;
    z-index: 0;
    cursor: pointer;
}
#scrollBar
#scrollKnob {
    position: absolute;
    top: 15%;
    width: 50px;
    height: 75%;
    background: white;
    opacity:  .7;
    border-radius: 10px;
    z-index: 1;
    cursor: move;
}
#news {
    position: relative;
    border: 0;
}
#news>header>p>span {
    background: transparent url('/images/news.title.icon.png') no-repeat scroll center center;
}
#news>section {
    position: relative;
    height: 465px;
    text-align: center;
}
#news>section>* {
    position: absolute;
}
#news #newsBolloFb > *,  #news #newsBolloTw>* {
    display: block;
    position: absolute;
    z-index: 1;
}
#news #newsBolloFb > a,  #news #newsBolloTw>a {
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}
#news #newsBolloFb > hr,  #news #newsBolloTw>hr {
    left: 50%;
    margin-left: -30%;
    width: 60%;
    background: transparent;
}
#news #newsBolloFb > hr.top,  #news #newsBolloTw>hr.top {
    top: 44px;
}
#news #newsBolloFb > hr.bottom,  #news #newsBolloTw>hr.bottom {
    bottom: 39px;
}
#news #newsBolloFb > p,  #news #newsBolloTw>p {
    top: 21px;
    left: 50%;
    margin-left: -8px;
    width: 18px;
    height: 13px;
}
#news #newsBolloFb > h2,  #news #newsBolloTw>h2 {
    width: 100%;
    font: 14px/1 "Museo"}
#news #newsBolloFb > h2 > strong,  #news #newsBolloTw>h2>strong {
    font: 18px/1 "MuseoBold";
    display: block;
    text-transform: uppercase;
}
#news #newsBolloFb > span,  #news #newsBolloTw>span {
    left: 50%;
    bottom: 15px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
}
#news
#newsBolloAnna {
    top: 0;
    left: 200px;
    width: 435px;
    height: 435px;
    border-radius: 435px;
    background: transparent url('http://farm6.staticflickr.com/5493/12751128223_ed7bfd9a11_o.jpg') no-repeat scroll center center;
    z-index: 11;
    border: 6px
solid rgba(255,  255,  255,  .2);
}
#news
#newsBolloFb {
    bottom: 20px;
    left: 10px;
    width: 192px;
    height: 192px;
    z-index: 12;
}
#news #newsBolloFb>hr {
    border-top: 1px solid #6fa0a7;
}
#news #newsBolloFb>p {
    background: transparent url('/images/news.bollo.fb.arrow.png') no-repeat scroll center 0%}
#news #newsBolloFb>h2 {
    bottom: 67px;
    color: #354b4e;
}
#news #newsBolloFb>div {
    top: 63px;
    left: 50%;
    margin-left: -4px;
    width: 9px;
    height: 19px;
    background: transparent url('/images/news.button.facebook.icon.png');
}
#news #newsBolloFb>span {
    background: #6fa0a7;
}
#news #newsBolloFb>h3 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 182px;
    height: 182px;
    border-radius: 182px;
    background: #8ccad3;
    z-index: 0;
}
#news
#newsBolloTw {
    bottom: 20px;
    left: 171px;
    width: 164px;
    height: 164px;
    z-index: 13;
}
#news #newsBolloTw>hr {
    border-top: 1px solid #5b6a6a;
}
#news #newsBolloTw>p {
    background: transparent url('/images/news.bollo.tw.arrow.png') no-repeat scroll center 0%}
#news #newsBolloTw>h2 {
    bottom: 50px;
    color: #e1dace;
}
#news #newsBolloTw>div {
    top: 55px;
    left: 50%;
    margin-left: -6px;
    width: 13px;
    height: 18px;
    background: transparent url('/images/news.button.twitter.icon.png');
}
#news #newsBolloTw>span {
    background: #999;
}
#news #newsBolloTw>h3 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 154px;
    height: 154px;
    border-radius: 154px;
    background: #354b4e;
    z-index: 0;
}
#news #newsBolloStatus,  #news #newsBolloStatusMini,  #news
#newsBolloStatusLittle {
    background: #e1dace;
    z-index: 14;
}
#news
#newsBolloStatus {
    top: 0;
    right: 38px;
    width: 296px;
    height: 296px;
    border-radius: 296px;
}
#news #newsBolloStatus>* {
    display: block;
    position: absolute;
}
#news #newsBolloStatus>h2 {
    top: 25px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 33px;
    background: transparent url('/images/news.bubble.twitter.png');
}
#news #newsBolloStatus>span {
    bottom: 33px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #999;
}
#news #newsBolloStatus
#theTweet {
    top: 95px;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    color: #354b4e;
    font: 14px/1.3 "Museo";
    text-align: center;
}
#news #newsBolloStatus #theTweet>a {
    font: 14px/1 "MuseoBold";
    color: #1c8492;
}
#news #newsBolloStatus #theTweet>a:hover {
    color: #354b4e;
}
#news #newsBolloStatus>a {
    bottom: 70px;
    width: 100%;
    font: 14px/1 "MuseoBold";
    text-align: center;
    color: #1c8492;
}
#news #newsBolloStatus>a:hover {
    color: #354b4e;
}
#news #newsBolloStatus
#theTweetDetail {
    bottom: 55px;
    width: 100%;
    font: 14px/1 "Museo";
    color: #8a8888;
}
#news #newsBolloStatus>hr {
    left: 50%;
    margin-left: -119px;
    width: 239px;
    border: 0;
}
#news #newsBolloStatus>hr.top {
    top: 77px;
    height: 1px;
    background: transparent url('/images/news.bubble.ornament.top.png');
}
#news #newsBolloStatus>hr.bottom {
    top: 194px;
    height: 10px;
    background: transparent url('/images/news.bubble.ornament.bottom.png');
}
#newsBolloStatusMini {
    top: 63px;
    right: 357px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
}
#newsBolloStatusLittle {
    top: 52px;
    right: 309px;
    width: 44px;
    height: 44px;
    border-radius: 44px;
}
#footer {
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -763px;
    width: 1526px;
    height: 810px;
    border-top: 3px solid #91d1da;
    border-bottom: 3px solid #91d1da;
    background: transparent url('/images/footer.anna.jpg');
    overflow: hidden;
}
#footer
#footerBollonzo {
    position: absolute;
    bottom: 53px;
    left: 50%;
    margin-left: 93px;
    width: 376px;
    height: 376px;
    background: black;
    border-radius: 376px;
    text-align: center;
}
#footer #footerBollonzo>* {
    position: absolute;
    width: 100%}
#footer #footerBollonzo>span {
    left: 50%;
    margin-left: -4px;
    display: block;
    width: 8px;
    height: 8px;
    background: #e1dace;
    border-radius: 8px;
}
#footer #footerBollonzo>span.top {
    top: 20px;
}
#footer #footerBollonzo>span.bottom {
    bottom: 20px;
}
#footer #footerBollonzo>hr {
    display: block;
    width: 239px;
    height: 10px;
    width: 100% !important;
    border: 0;
}
#footer #footerBollonzo>hr.top {
    top: 186px;
    background: transparent url('/images/header.ornament.top.png') no-repeat scroll center center;
}
#footer #footerBollonzo>hr.bottom {
    top: 262px;
    background: transparent url('/images/header.ornament.bottom.png') no-repeat scroll center center;
}
#footer #footerBollonzo>h2 {
    top: 44px;
    font: 32px/.9 "Otto";
    color: #b5b0a5;
    letter-spacing: -1px;
}
#footer #footerBollonzo .fb-like {
    top: 148px;
    left: 50%;
    margin-left: -76px;
    width: 150px !important;
}
#footer #footerBollonzo .g-ytsubscribe {
    top: 148px;
    left: 50%;
    margin-left: 21px;
    width: 100px !important;
}
#footer #footerBollonzo>p {
    top: 208px;
}
#footer #footerBollonzo>p>span {
    position: relative;
    margin: 0
auto;
    display: block;
    width: 267px;
}
#footer #footerBollonzo>p>a {
    color: #e1dace;
}
#footer #footerBollonzo>p>a:hover {
    color: white;
}
#footer #footerBollonzo #footerFbButt,  #footer #footerBollonzo
#footerTwButt {
    position: absolute;
    top: 113px;
    left: 50%;
    display: block;
}
#footer #footerBollonzo
#footerFbButt {
    margin-left: -22px;
    width: 9px;
    height: 18px;
    background: transparent url('/images/footer.facebook.icon.png');
}
#footer #footerBollonzo
#footerTwButt {
    margin-left: 2px;
    width: 13px;
    height: 18px;
    background: transparent url('/images/footer.twitter.button.png');
}
#footer #footerBollonzo
#scozzese {
    display: block;
    bottom: 36px;
    left: 50%;
    margin-left: -105px;
    width: 210px;
    height: 54px;
    font-size: 12px;
    text-transform: uppercase;
    color: #83807a;
    z-index: 5;
}
#footer #footerBollonzo #scozzese>p {
    position: relative;
    display: block;
    margin: 0
auto;
    height: 14px;
    z-index: 2;
}
#footer #footerBollonzo #scozzese>h2 {
    position: relative;
    margin: 0
auto;
    display: block;
    width: 38px;
    height: 38px;
    background: transparent url('/images/footer.scozzese.logo.jpg') no-repeat scroll center center;
    z-index: 2;
}
#footer #footerBollonzo>h3 {
    position: absolute;
    bottom: 37px;
    left: 50%;
    margin-left: -19px;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    background: black;
    z-index: 3;
}
#footer #footerBollonzo
#hugeScotz {
    display: none;
    position: absolute;
    bottom: -53px;
    left: 50%;
    margin-left: -860px;
    width: 1131px;
    height: 1115px;
    background: transparent url('/images/footer.scozzese.logoHuge.png') no-repeat scroll center 200px;
    opacity: 0;
    z-index: 4;
}
#footer
.tendinaFooter {
    position: absolute;
    top: 0;
    width: 763px;
    height: 816px;
    background: black;
    z-index: 12;
}
#footer
#tendinaFooterSx {
    left: 0;
}
#footer
#tendinaFooterDx {
    left: 763px;
}
#notfoundBollo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -213px 0 0 -213px;
    width: 427px;
    height: 426px;
    background: black url('/images/ie8/wallpaper.bollonzo.bg.png');
}
#notfoundBollo > h1,  #notfoundBollo > h2,  #notfoundBollo
h3 {
    margin-left: 22px;
    width: 380px;
    text-align: center;
}
#notfoundBollo>h1 {
    margin-top: 50px;
    font: 18px/.8 "Otto";
    text-transform: lowercase;
    color: #9a968f;
}
#notfoundBollo>h2 {
    margin-top: 115px;
    font: 24px/1 "Museo";
    color: white;
}
#notfoundBollo>h3 {
    margin-left: 69px !important;
    width: 280px;
    font: 15px/1 "Museo";
    color: #9a968f;
}
#notfoundBollo>a {
    display: block;
    margin-top: 128px !important;
    width: 140px;
    margin: 0
auto;
    color: white;
    text-align: center;
}
#notfoundBollo>a:hover {
    color: #9a968f;
}
#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#loaderSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 67px
0 0 -50px;
    width: 100px;
    height: 100px;
    z-index: 2;
    opacity: 0;
}
#loader > h1,  #loader > h2,  #loader
h3 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 2;
    letter-spacing: -1px;
    opacity: 0;
}
#loader>h1 {
    margin-top: -67px;
    font: 54px/1 "Otto";
    color: #b5b0a5;
}
#loader>h2 {
    margin-top: -10px;
    font: 18px/1 "Museo";
    color: #354b4e;
}
#loader>h3 {
    margin-top: 144px;
    font: 14px/1 "Museo";
    color: #74A7AE;
}
#loaderTop, #loaderBottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 52%;
    display: block;
    background: #101010;
}
#loaderTop {
    top: 0%}
#loaderBottom {
    top: 50%}
#loaderBollo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    width: 500px;
    height: 500px;
    border-radius: 450px;
    background: black;
    z-index: 1;
    transform: scale(0.5);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
}
#awwwards {
    position: absolute;
    top: 49px;
    right: 0px;
    z-index: 1000;
}
#awwwards>a {
    display: block;
    width: 69px;
    height: 105px;
    background: transparent url('/images/awwwards_siteoftheday_w_right.png') no-repeat;
}